/* UNIVERSAL STYLES */

html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  background-color: white;
}

body {
  text-align: center;
}

/* HEADER */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
}

h1 {
  letter-spacing: 10px;
  text-align: center;
}

.navbar p {
  display: inline-block;
  padding: 15px 15px;
  align-self: center;
}

a {
  color: black;
}

/* SECTIONS */

.mission {
  background-image: url('./images/building.jpeg');
  background-blend-mode: hard-light;
  background-size: cover;
  padding: 80px 0;
}

.content h2 {
  letter-spacing: 10px;
  background-color: white;
  margin-bottom: 0;

}

.content h4 {
  background-color: white;
  margin-top: 0;
}

